@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@media (min-width: 640px) {
  .content {
    height: 257px;
  }
  .title {
    font-size: 6rem;
  }
  body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #dedede;
    padding-left: 6rem;
    padding-right: 6rem;
    height: 100%;
    width: 100%;
  }
  .container {
    min-width: 300px;
  }
  .card {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    margin-left: 7rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }
}
@media (max-width: 316px) {
  .title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 1536px) {
  .disvg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .includes {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 900px;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .includes {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .container {
    max-width: 1800px;
    min-width: 1100px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.page {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}
.des {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  opacity: 0.8;
}
.plans {
  background-color: inherit;
  position: relative;
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border-width: 2rem;
  border-color: #000000;
  width: fit-content;
}

.monthly {
  background-color: #3f4551;
  color: white; /* background-color: #afafaf7a; */
  cursor: pointer;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  border-radius: 9999px;
}
.annually {
  cursor: pointer;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  border-radius: 9999px;
}
.container {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: grid;
  gap: 2.5rem;
}
.card {
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-width: 1px;
  border-color: #000000;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
}
.card:hover {
  transition: all 0.3s;
  scale: 1.04;
  background-color: rgba(255, 255, 255, 0.585);
}

.name {
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #9ca3af;
}
.price {
  margin-bottom: 1.5rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}
hr {
  border-top-style: dotted;
  border-top-width: 2px;
  border-top-color: #9ca3af;
}
.svg {
  min-width: 24px;
}

.content {
  display: flex;
  margin-top: 0.5rem;
  margin-top: 1.5rem;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #6b7280;

  padding: 5px;
}

.disvg {
  display: flex;
  gap: 0.5rem;
}

.getstart {
    color: blue;
  display: flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  border-width: 2px;
  border-color: #000000;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.getstart {
  background-color: #5a0ad1;
  transition: all 0.2s;
  scale: 1.04;
  color: rgb(255, 255, 255);
}